@mixin btn ($left, $top, $width, $height) {
  position: relative;
  left: $left;
  top: $top;
  width: $width;
  height: $height;
  border-radius: 3rem;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: $box-shadow;
  background: linear-gradient(0deg, $color-primary, $color-secondary);
  color: #FFFFFF;
  border: 0;
  transition: transform .2s;

  &:hover {
    transform: scale(1.01);
  }
}

@mixin for-little-phone {
  @media (max-width: 375px) { @content; }
}

@mixin for-phone {
  @media (max-width: 599px) { @content; }
}

@mixin for-little-tablet {
  @media (max-width: 600px) { @content; }
}

@mixin for-tablet {
  @media (max-width: 768px) { @content; }
}

@mixin for-big-tablet {
  @media (max-width: 1024px) { @content; }
}

@mixin for-little-desktop  {
  @media (max-width: 1200px) { @content; }
}